.fp-big {
  font: bold 100px/100px 'Open Sans';
  color: #000;
}

.fp-medium {
  font-size: 70px/70px;
}

.fp-agenda-item {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold
}

.fp-fullscreen {
  background: orange;
}

.fp-centered {
  text-align: center;
}

.fp-title {
  text-transform: uppercase;
}

.fp-code {
  font: normal 13px monaco;
}

.fp-mccarthy-eval {
  position: absolute;
}

fp-brace {
  color: #999
}


/* -- Overwriting standard styles -- */

div.step {
  font-family: "Open Sans";
}

/* // Overwriting standard styles // */
